*, *::before, *::after {
    box-sizing: border-box;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    text-decoration: none;
    
}

a:visited {
    text-decoration: none;
}

.body {
    margin: 0;
}

.nav {
    display: flex;
    /* border: 1px rgb(64, 221, 32) solid; */
    margin: 10px;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 20px;

    
}
.nav div{
    /* border:
     1px rgb(29, 24, 24) solid; */
    display: flex;
    margin-right: 15px;
}

.menu-btn {
    width: 35px;
    height: 35px;
  
   }

.logo {
    height: 35px;
    width: 120px;
    padding: 2px;
    margin-left: 1.5rem;
    justify-content: center;
}   

.search-bar {
    display: flex;
   flex: 2;
   
   background-color: aqua;
   margin: 0 10rem 0 10rem;
   }
   .search-input {
       width: 100%;
       padding-left: 0.4em;
       font-weight: bold; 
       font-size: 1.1em;

   }

   .search-icon {
       /* background-color: rgb(175, 209, 24); */
       align-items: center;
       min-width: 90px;
       
   }

  

.channel-logo {
    height: 35px;
    width: 35px;
    padding: 5px;
    border-radius: 50%;
    margin-right: 2rem;
}

.upload-btn {
    margin-right: 2rem;
    padding: 5px;
}

.apps-icon {
    margin-right: 2rem;
    padding: 5px;
}

.video-container {
    background-color: red;
    position: relative;
    padding-bottom: 56.25%;
    height: 0;



}

.video-embed {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    
} 

.content {
   display: grid;
   grid-template-columns: 70% 30%;
   grid-template-areas: 
        "content sidebar"
        "content sidebar"
        "content sidebar"
        "content sidebar"
        "content sidebar"
    

}

.video-info {
    background-color: rgb(33, 170, 224);
    border: blue;
}

.channel-info {
    background-color: burlywood;
    border: darkblue;
}

.video-description {
    background-color: darkkhaki;
    border: 2px rgb(24, 29, 15);
    
}

.comment-section {
    background-color: darksalmon;
    border: 1px rgb(29, 24, 24);
}

.sidebar {
    background-color: rgb(197, 197, 197);
    border: 2px rgb(29, 24, 24);
    grid-area: sidebar;
    

    
}

.video-container {
   
    
    
}

.small-video-container {
    
    display: flex;
    flex-direction: row;
    max-width: 500px;
    margin: 7px 10px;
    padding: 5px;
    
}
.video-details {
    padding: 10px;
    overflow:hidden;
    text-overflow:ellipsis;
    max-height: 150px;
    text-color: rgb(88, 86, 86);
    text-decoration: none;
}

    
}

.video-title {
    
    margin-bottom: 10px;
    font-weight: 500;
    text-decoration: none;
    color: #111;
}

.channel-name {
   color: #555;
   transition: color 150ms;
   text-decoration: none;
   margin-top: 10px;
}

.channel-name:hover {
    color: #111;
}
.video-metadata {
    text-decoration: none;
    margin-top: 7px;
    color: #555;
}
}

.thumbnail {
    position: relative;
    display: flex;
}

.div-thumb::before {
    content: attr(duration);
    position: absolute;
    background-color: rgba(0, 0, 0, .85);
    color: white;
    right: 5px;
    bottom: 5px;
    padding: 0.1em .3em;
    border-radius: .3em;
    font-size: .9em;
}

.thumbnail-image {
    background-color: rgb(156, 156, 156);
    /* width: 100%;
    height: 100%; */

}