#header {
    display: flex;
    margin: auto;
    width: 100%;
}


#hamburger-menu {
    background-color: rgb(34, 216, 230);
    height: 50px;
    width: 50px;
}

#youtube-icon {
    background-color: rgb(34, 216, 230);
    height: 50px;
    width: 50px;
}